@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmação do Registo";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    <a id="confirm-link" href="@Model.EmailConfirmationUrl">Clique aqui para confirmar a sua conta.</a>
</p>
    }
    else
    {
<p>
        Por favor confirme a sua conta.
</p>
    }
}
